# PYTHON PRINT STATEMENT

In [ ]:
# print is use for answer

In [4]:
a=10
b=20
a
b

20

In [6]:
a=10
b=20
print(a)
print(b)

10
20

In [8]:
print(10)
print(10,20)
print('python')
print(10,20,'python')

10
10 20
python
10 20 python

In [10]:
num1=20
num2=30
add=num1+num2
print(add)

50

# print result with string

In [13]:
num1=20
num2=30
add=num1+num2
print('The addition of',num1,'and',num2,'is=',add)

The addition of 20 and 30 is= 50

In [19]:
name='Sri'
age=25
city='chicago'
print('My name is',name,'and i am',age,'years old from',city)

My name is Sri and i am 25 years old from chicago

# print format method

In [38]:
num1=20
num2=20
add=num1+num2
print('The addition of {} and {} is={}'.format(num1,num2,add))

The addition of 20 and 20 is=40

In [40]:
name='Python'
age=25
city='chicago'
print('hello my name is{},and i am{} years old from{}'.format(name,age,city))

hello my name isPython,and i am25 years old fromchicago

In [44]:
num1=100
num2=25
num3=333
avg=(num1+num2+num3)/3 # or we can use avg=round (num1+num2+num3)/3,2)
avg1=round((num1+num2+num3)/3,2)
#The average of num1,num2,num3 is =avg
print('The average of {},{},and {} is= {}'.format(num1,num2,num3,avg,avg1))

The average of 100,25,and 333 is= 152.66666666666666

# end statement

In [26]:
print('hello')
print('good morning')

hello
good morning

# separator

In [32]:
print('hello','hai','how are you',sep='--->')

hello--->hai--->how are you

In [34]:
print('hello','hai','how are you',sep='&')

hello&hai&how are you

In [46]:
print('hello','hai','how are you',sep='@')

hello@hai@how are you

In [48]:
print('hello','hai','how are you',sep='')

hellohaihow are you

In [50]:
print(3,'.')#. is far from 3 so here we will use sep method

3 .

In [52]:
print(3,'.',sep='')# see noe space settled(also use to remove space B/W words)

3.

In [58]:
print(1 ,2,end='')
print(3,'.',sep='')
#will print 1 2 3

1 23.