# Python Variable

In [39]:
age=25
print (age)

25

In [41]:
name='sri'
print (name)

sri

In [43]:
price=19.99
print (price)

19.99

In [45]:
is_active=True
print(is_active)

True

# Storing and Printing a Value

In [48]:
x=10

In [50]:
print(x)

10

# Using Variables in Expressions

In [59]:
a=5
b=3
result = a + b 
print(result)

8

# Changing the Value of a Variable

In [61]:
score=50
print(score)

50

In [63]:
score=100
print(score)

100

# Concatenating Strings

In [71]:
first_name="Sri"
last_name="Vardhan"
full_name=first_name + " "+ last_name
print(full_name)

Sri Vardhan

# Using Variables in a Calculation

In [75]:
length=10
width=5
area=length*width
print(area)

50

# Reassigning Values to Variables

In [81]:
x=10
print(x)

10

In [83]:
x=20
print(x)

20